html {
    overflow: hidden;   
    height: 100%;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    overflow: scroll;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(automatización-industrial.jpg);
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0px;
}
.nav{
    flex: 1;
    text-align: right;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.user-icon{
    width: 30px;
    border-radius: 25%;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    color: white;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 2px;
}
nav ul li a:hover{
    border-bottom: 1px solid lightblue;
}
nav ul li a:active{
    border-bottom: 1px solid lightblue;
}
.contentcasilla{
    max-width: 600px;
    color: #fff;
    margin-top: 10%;
    margin-left: 30px;
}
.contentInit{
    display: flex;
    flex-wrap: wrap;
}
.content{
    min-width: 250px;
    color: #fff;
    margin-top: 10%;
}
h1{
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 1px;
    margin: 15px 0;
}
h3{
    font-size: 25px;
    text-align: center;
}
p{
    font-size: 25px;
    line-height: 35px;
}
span{
    color: lightblue;
}
.btn-box{
    margin-top: 20px;
}
button{
    width: 150px;
    height: 50px;
    border: 1px solid lightblue;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
    cursor: pointer;
    background: lightblue;
}
.btn{
    border: 1px solid lightblue;
    background: transparent;
}

/*TARJETAS*/

.imagencontacto{
    width: 100%;
    height:100% ;
    object-fit: cover;
}
.tarjetas{
    display: flex;
}
.conteiner{
    width: 100%;
    display: flex;
    max-width: 500px;
    flex-direction: column;
}
.card{
    height: 100%;
    width: 80%;
    margin: 45px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%);
}
.parrafostarjetas{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.servicio{
    width: 100%;
    height: 100vh;
}
.h1Servicio{
    color: white;
    text-align: center;
    margin-top: 0px;
    /*margin-bottom: 0px;*/
}

.infoservicio{
    display: none;
    font-size: 25px;
    line-height: 35px;
    color: white;
}

@media screen and (max-width:700px){
    *{
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    body{
        width: 100%;
        height: 100%;
    }
    h1{
        font-size: 35px;
        line-height: 35px;
        letter-spacing: 1px;
        margin: 15px 0;
    }

    p{
        font-size: 20px;
    }

    .container{
        max-width: 100%;
        margin: 0px;
        padding: 0 50px 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(automatización-industrial.jpg);
        align-items: center;
        overflow-x: hidden;
    }

    .contentInit{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin:0px;
    }
    
    .contentcasilla{
        max-width: 600px;
        color: #fff;
        margin-top: 10%;
        margin-left: 0px;
        justify-content: center;
        text-align: justify;
    }

    /*Tarjetas QUERY*/
    .infoservicio{
        display: block;
        font-size: 20px;
        line-height: 35px;
    }
    .imagencontacto{
        display: block;
    }
    .tarjetas{
        display: block;
        height: 100%;
    }
    .conteiner{
        flex-direction: column;
        width: 100%;
        height: 100%;
        display: flex;
        max-width: 500px;
        align-items: center;
    }
    .card{
        height: 0.5%;
        width: 100%;
        margin: 20px;
        border-radius: 50px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        cursor: default;
        transition: all 400ms ease;
    }

    /*Animacion tarjetas*/
    /*@keyframes show{
        from{
            opacity: 0;
            scale: 25%;
        }

        to{
            opacity: 1;
            scale: 100%;
        }
    }

    .conteiner{
        view-timeline-name: --image;
        view-timeline-axis: block;

        animation-timeline: --image;
        animation-name: show;
        animation-range: entry 25% cover 50%;
    }*/

    .parrafostarjetas{
        font-size: 13.6px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        display: none;
    }
    .servicio{
        overflow: scroll;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(automatización-industrial.jpg);
    }
    .h1Servicio{
        color: white;
        margin:45px 0px 0px;
    }
    h3{
        font-size: 22px;
        position: relative;
        left: 0px;
        top: 25px;
    }

    .contenido{
        display:none;
    }
    /*BarraSocial*/
    .sidebar{
        display: none;
    }
    .social-links{
        display: none;
    }
    .social-links i{
        display: none;
    }

    /*Menu Desplegable*/
    .navbar{
        display:block;
        text-align: center;
        padding: 30px 0px 15px;
    }
    ul{
        justify-content: center;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin-right: 15px;
        color: white;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 5px 2px;
    }

    nav ul li a:hover{
        border-bottom: 1px solid lightblue;
    }

    nav ul li a:active{
        border-bottom: 1px solid lightblue;
    }

    /*Sobre Nosotros*/

    .content{
        min-width: 250px;
        color: #fff;
        margin-top: 10%;
        text-align: justify;
        justify-content: center;
    }

}